[submodule "projects/stacker"]
	path = projects/stacker
	url = https://github.com/StrangePan/StackerHTML.git
[submodule "includes/parsedown"]
	path = includes/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "projects/yt-theater"]
	path = projects/yt-theater
	url = git@github.com:StrangePan/YouTubeTheater.git
