ErrorDocument 404 /index.php?p=404
ErrorDocument 403 /index.php?p=403

Options +FollowSymLinks
DirectorySlash Off
RewriteEngine On
RewriteOptions AllowNoSlash

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R,QSA,L]

RewriteRule ^(projects|resume)$ /$1/ [R,QSA,L]
RewriteRule ^(projects|resume)/$ /index.php?${QUERY_STRING}&p=$1
RewriteRule ^$ /index.php?${QUERY_STRING}&p=home

RewriteCond %{HTTP_HOST} ^(.*\.)?danielernestandrusthesecond\.[^.]*$ [NC]
RewriteCond %{QUERY_STRING} !cowbell
RewriteRule ^(.*)$ /$1?cowbell [QSA]
