body {
	display: block;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: white;
	height: 100%;
	width: 100%;
}

#parallax-container, .parallax-divider {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100%;
	will-change: background-position;
	overflow: hidden;
}

#blue, #purple, #red, #green, #yellow {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 200px -170px 400px 0;
	/*margin: 30px;*/
	float: left;
	box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.3);
	will-change: top;
}
#blue {
	margin-left: 40%;
}

p {
	max-width: 64em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
}
.lyrics {
	display: block;
	margin: 0;
	padding: 2em;
	background: white;
	background: linear-gradient(#FFFFFF, #F0F0F0);
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.headline-text {
	display: block;
	position: relative;
	padding: 4em 2em;
	clear: both;
	
	color: #FFF;
	text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
	font-weight: bold;
	font-size: 80px;
	text-align: center;
}
